<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <%- include('./partials/head.html'); %>
</head>
<body>
    
    <%- include('./partials/navigation.html'); %>

    
    <div class="col-md-3 offset-md-4 container-md" style="margin-top: 90px; text-align : end;">
        <div>
            <h3 style="margin-bottom: 20px;"><%= title %></h3>
            <img src="/img/sitioEnConstruccion.png" alt="Sitio En Construccion">
        </div>
    </div>

    <%- include('./partials/footer.html'); %>
</body>
</html>